<nav class="navbar navbar-expand-lg navbar-light .navbar-dark">
    <a class="navbar-brand" href="{{ path('homepage') }}">Мебель Трансформер и ВСЁ ВСЁ ВСЁ</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if template|default %}

                {% if template == 'about' %}
                    <li class="nav-item active">
            {#          <a class="nav-link sr-only" href="{{ path('about') }}">О нас</a>#}
                      <a class="nav-link" href="{{ path('about') }}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contacts') }}">Контакты</a>
                    </li> 
                    <li class="nav-item">
            {#          <a class="nav-link disabled" href="{{ path('order') }}">Сделать заказ</a>#}
                      <a class="nav-link" href="{{ path('order') }}">Сделать заказ</a>
                    </li>
                {% elseif template == 'contacts' %}
                    <li class="nav-item">
            {#          <a class="nav-link sr-only" href="{{ path('about') }}">О нас</a>#}
                      <a class="nav-link" href="{{ path('about') }}">О нас</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('contacts') }}">Контакты</a>
                    </li> 
                    <li class="nav-item">
            {#          <a class="nav-link disabled" href="{{ path('order') }}">Сделать заказ</a>#}
                      <a class="nav-link" href="{{ path('order') }}">Сделать заказ</a>
                    </li>
                {% elseif template == 'order' %}
                    <li class="nav-item">
            {#          <a class="nav-link sr-only" href="{{ path('about') }}">О нас</a>#}
                      <a class="nav-link" href="{{ path('about') }}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contacts') }}">Контакты</a>
                    </li> 
                    <li class="nav-item active">
            {#          <a class="nav-link disabled" href="{{ path('order') }}">Сделать заказ</a>#}
                      <a class="nav-link" href="{{ path('order') }}">Сделать заказ</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="nav-item">
        {#          <a class="nav-link sr-only" href="{{ path('about') }}">О нас</a>#}
                  <a class="nav-link" href="{{ path('about') }}">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contacts') }}">Контакты</a>
                </li> 
                <li class="nav-item">
        {#          <a class="nav-link disabled" href="{{ path('order') }}">Сделать заказ</a>#}
                  <a class="nav-link" href="{{ path('order') }}">Сделать заказ</a>
                </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item">
        {#          <a class="nav-link disabled" href="{{ path('order') }}">Сделать заказ</a>#}
                  <a class="nav-link" href="{{ path('admin_firm_index') }}">Фирмы</a>
                </li>
                <li class="nav-item">
        {#          <a class="nav-link disabled" href="{{ path('order') }}">Сделать заказ</a>#}
                  <a class="nav-link" href="{{ path('admin_product_index') }}">Товары</a>
                </li>
            {% endif %}
        </ul>
    </div>
        
    {% if app.user %}
        <a class="btn btn-outline-info btn-lg" href="{{ path('logout') }}" role="button">Выйти</a>
    {% else %}
        <a class="btn btn-outline-info btn-lg" href="{{ path('login') }}" role="button">Войти</a>
    {% endif %}
</nav>
