{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="container gallery-container">

    <h1>Мебель ТРАНСФОРМЕР и всё всё всё!</h1>

    <p class="page-description text-center">Любой каприз. Всегда восторг. ♥</p>
    
    <div class="tz-gallery">

        <div class="row">
            {% for firm in firms %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a class="lightbox" href="/firm/{{ firm.id }}">
                            <img src="{{ firm.pathToPhoto }}" alt="{{ firm.name }}">
{#                            <img src="images/main/garun.png" alt="{{ firm.name }}">#}
                        </a>
                        <div class="caption">
                            <h3>{{ firm.label }}</h3>
                            <p>{{ firm.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}   
        </div>

    </div>

</div>
    
{% endblock %}