{% extends 'base.html.twig' %}

{% set pageDescription =  product.pageDescription %}
{% set pageKeywords =  product.keywords %}

{% block body %}
    
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
            <p class="text-muted">
                <a href="{{path('homepage')}}">Главная</a>
                >>
                <a href="{{path('firm_page', {'firmId': product.firm.id})}}">{{ product.firm.label }}</a> 
                >> 
                {{ product.vendorCode }}
            <p>
        </div>
        <div class="row">
            <div class="col-lg-6 text-left">
                <img class="img-fluid" src="{{path('image', {'path': product.photoPath, 'format': '400x300xS'})}}" alt="{{ product.vendorCode }}">
            </div>
            <div class="col-lg-6 text-right">
                <h2 class="text-uppercase">{{ product.vendorCode }}</h2>
                <h4 class="text-muted">{{ product.category }}</h4>
                <p class="text-muted">{{ product.description }}</p>
                <ul >
                    {% for color in product.colors %}
                        <li class="list-inline-item">
                            <img class="fa" src="{{path('image', {'path': color.photoPath, 'format': '35x35'})}}" alt="{{color.label}}">
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      </div>
    </section>
                
{% endblock %}
