{% extends 'base.html.twig' %}

{% block body %}
    
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
            <p class="text-black">
                <a href="{{path('homepage')}}">Главная</a>
                >>
                <a href="{{path('firm_page', {'firmId': product.firm.id})}}">{{ product.firm.label }}</a> 
                >> 
                {{ product.vendorCode }}
            <p>
        </div>
        <div class="row">
            <div class="col-lg-6 text-right">
              <h2 class="section-heading text-uppercase">{{ product.vendorCode }}</h2>
              <h3 class="section-subheading text-muted">{{ product.description }}</h3>
            </div>
            <div class="col-lg-6 text-left">
{#            <div class="col-md-2 col-sm-6 text-left">#}
                {% if firm.photoPath|default %}
                    {#<div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>#}
                    <img class="img-fluid" src="{{path('image', {'path': product.photoPath, 'format': '400x400xSxCxP'})}}" alt="{{ product.vendorCode }}">
                {% endif %}
                <div class="portfolio-caption">
                    <h4>{{ product.vendorCode }}</h4>
                    <p class="text-muted">{{ product.category }}</p>
                    <ul >
                        {% for color in product.colors %}
                            <li class="list-inline-item">
                                <img class="fa" src="{{path('image', {'path': color.photoPath, 'format': '35x35'})}}" alt="{{color.label}}">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </section>
                
{% endblock %}
