{% extends 'base.html.twig' %}

{% block body %}
    <div class="container gallery-container">
        <h1>{{ product.vendorCode }}</h1>
        <p class="page-description text-center">{{ product.category }}</p>
        <p class="page-description text-center">{{ product.firm }}</p>

        <p class="page-description text-center">Доступные цвета:
            {% for color in product.colors %}
{#                {{ color~', ' }}#}
                <img src="{{ color.pathToPhoto }}">
            {% endfor %}
        </p>
            
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    {% for photo in product.photos %}
                        <img src="{{ photo.path }}">
                    {% endfor %}
                </div>
            </div>
        </div>
        <p class="page-description text-center"><a href="{{ path('homepage') }}">На главную страницу</a></p>
        <p class="page-description text-center"><a href="{{ path('firm_page', {'firmId': product.firm.id}) }}">Назад, к каталогу {{ product.firm.label }}</a></p>
    </div>
{% endblock %}
