{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <h2>Список фирм</h2>

        <table class="table table-bordered table-responsive-md">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Дата редактирования</th>
                </tr>
            </thead>
            <tbody>
            {% for firm in firms %}
                <tr>
                    <td><a href="{{ path('admin_firm_edit', { 'id': firm.id }) }}">{{ firm.id }}</a></td>
                    <td><a href="{{ path('admin_firm_edit', { 'id': firm.id }) }}">{{ firm.label }}</a></td>
                    <td>{{ firm.description }}</td>
                    <td>{% if firm.updatedAt %}{{ firm.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin_firm_new') }}" class="btn btn-info">+ Создать</a>
{% endblock %}
